*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    min-width: 250px;
    display: flex;
    justify-content: space-around;
}
.button a {
    text-decoration: none;
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #43494F;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 5);
    transition: all .4s ease-in-out;
}
.button a:hover {
    transform: scale(1.2);
}
img{
    width: 200px;
}