*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.head-section{
    text-align: center;
    padding-bottom: 0;
    background: #e7e2e1;
}
.menu{
    width: 1000px;
  margin: 0 auto;
}
.menu nav{
    background: "#e7e2e1";
}
img{
    width: 220px;
}
nav{
    float: center;
}
nav ul li{
    list-style: none;
    margin-left: 75px;
    padding: 25px 0;
    float: left;
    position: relative;
}
nav ul li a{
    text-decoration: none;
    color:#444;
    font-weight: bold;
}
nav ul li a::before{
    display: block;
    content:''; 
    width: 0%;
    background: #444;
    height: 2px;
    top: 0;
    position: absolute;
    transition: width 0.4s;
}
nav ul li a:hover:before{
    width: 100%;
}
.cuerpo{
    min-height: 100vh;
    background-image: url(./img/53UBVW5F2VEABHNRR6MQF2RDLU.jpg) no-repeat center fixed;
    background-size: cover;
}
